.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.carousel {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.carousel-root {
  width: 100%;
}

.carousel img {
  position: absolute;
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: slide 5s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}

.img_car {
  width: 100%;
  height: 100vh;
}

.oddoo_foot {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  /* color: #212529 ; */
  background-color: RGBA(247.35, 247.35, 247.35, var(--bg-opacity, 1));
}

.bottm {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
}

.upper {
  padding-top: 80px !important;
  padding-bottom: 24px !important;
  position: relative;
}

.fimg {

  background-image: url("http://20.219.35.13/web_editor/shape/web_editor/Origins/14_001.svg?c3=%2348507C&c4=%2341486F&flip=y");
  background-position: 50% 0%;
  background-size: 100% auto;
  background-repeat: no-repeat;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute !important;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  pointer-events: none;

}

.bottm2 {
  --gutter-x: 30px;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x));
}

.bottm3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 24px;
  padding-top: 16px !important;
  padding-right: 16px;
  padding-left: 16px;
}

.butn {
  padding-top: 8px;
  min-height: 24px;
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  width: 35%;
}

.butn1 {
  margin-bottom: 1rem;
  text-align: right
}

.butn2 {
  color: #FFFFFF;
  background-color: #5D679F;
  border-color: #5D679F;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.had {
  color: #5D679F;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Dosis", "Odoo Unicode Support Noto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.sp {
  margin-bottom: 1rem;
  max-width: 1320px;
  width: 100%;
  height: 20px;
  padding-right: var(--gutter-x, 15px);
  padding-left: var(--gutter-x, 15px);
  margin-right: auto;
  margin-left: auto;
  background-color: #5D679F
}

.mc1 {
  max-width: 1320px;
  width: 100%;
  padding-right: var(--gutter-x, 15px);
  padding-left: var(--gutter-x, 15px);
  margin-right: auto;
  margin-left: auto;
}

.mc1_a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  --gutter-x: 30px;
  --gutter-y: 0;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x));
}

.mc1_a1 {
  padding-top: 4px !important;
  padding-bottom: 56px !important;
  flex: 0 0 auto;
  width: 32.33333333%;
}

.mc1_a1_1 {
  border-width: 0px !important;
  overflow: hidden;
  height: 100% !important;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFF;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 0.25rem;
}

.img_a1 {
  transform: scaleY(1.02);
  animation-play-state: paused;
  transition: none 0s ease 0s;
  width: 100% !important;
  display: inline-block;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  max-width: 100%;
  height: auto;
}

.mc1_a1_2 {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: #212529;
}

.ha{
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Dosis", "Odoo Unicode Support Noto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.25rem;

}
.main_1{
  height: 65vh;
}